<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>出品者 管理一覧ページ</title>
  </head>
  <style>
    * {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      box-sizing: border-box;
      text-decoration: none;
    }
    .none {
      display: none;
      /* ボックスごと非表示 */
    }
    .hidden {
      text-indent: 100%;
      white-space: nowrap; /* 改行せずに表示 */
      overflow: hidden;
      /* ボックスの中身が不可視 */
    }
    body {
      width: 100%;
      height: 100%;
    }
    header {
      width: 100%;
      height: 80px;
      display: flex;
      font-size: 25px;
      align-items: center;
      background-color: aqua;
      text-align: center;
      margin: 0 auto;
    }

    .logo {
      width: 55%;
      text-align: right;
    }
    .header_r {
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .header_r > li {
      margin: 15px;
    }
    .header_r > li > button {
      color: #fff;
      background-color: #eb6100;
      border: 1px solid gray;
      width: 100px;
      height: 40px;
    }
    .login_name {
      font-size: 20px;
    }
    .login_box {
      width: 40%;
      height: 300px;
      background-color: rgb(225, 222, 222);
      border-radius: 8px;
    }

    /* ---- main ---- */
    main {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      /* background-color: red; */
    }
    .main_img {
      padding-top: 40px;
    }
    .card_img {
      width: 800px;
      height: 500px;
      background-color: black;
    }
    a {
      color: black;
    }
  </style>
  <body>
    <header>
      <p class="logo">
        <a href="/management"> LOGO 社名 </a>
      </p>

      <ul class="header_r">
        <li>
          <button>
            <a href="/car"> 車両登録</a>
          </button>
        </li>
        <li class="login_name">ログイン指名</li>
      </ul>
    </header>
    <main>
      <div class="main_img">
        <img src="<% values[0].picture_path %>" alt="" class="card_img" />
        <table border="1">
          <tr>
            <th>年式</th>
            <td><%= values[0].age %></td>
          </tr>
          <tr>
            <th>車種名</th>
            <td><%= values[0].type_name %></td>
          </tr>
          <tr>
            <th>メーカー名</th>
            <td><%= values[0].maker %></td>
          </tr>
          <tr>
            <th>排気量</th>
            <td><%= values[0].displacement %></td>
          </tr>
          <tr>
            <th>モデル年式</th>
            <td><%= values[0].model_age %></td>
          </tr>
          <tr>
            <th>グレード</th>
            <td><%= values[0].grade %></td>
          </tr>
          <tr>
            <th>型式</th>
            <td><%= values[0].model %></td>
          </tr>
          <tr>
            <th>修復歴</th>
            <td><%= values[0].repair %></td>
          </tr>
          <tr>
            <th>定員</th>
            <td><%= values[0].capacity %></td>
          </tr>
          <tr>
            <th>ドア数</th>
            <td><%= values[0].door_number %></td>
          </tr>
          <tr>
            <th>形状</th>
            <td><%= values[0].shape %></td>
          </tr>
          <tr>
            <th>最大積載量</th>
            <td><%= values[0].loading_capacity %></td>
          </tr>
          <tr>
            <th>走行距離</th>
            <td><%= values[0].milage %></td>
          </tr>
          <tr>
            <th>トランスミッション</th>
            <td><%= values[0].transmission %></td>
          </tr>
          <tr>
            <th>駆動方式</th>
            <td><%= values[0].drive_system %></td>
          </tr>
          <tr>
            <th>検査期限</th>
            <td><%= values[0].inspection_deadline %></td>
          </tr>
          <tr>
            <th>取扱説明書</th>
            <td><%= values[0].manual %></td>
          </tr>
          <tr>
            <th>評価点</th>
            <td><%= values[0].evaluation %></td>
          </tr>
          <tr>
            <th>ハンドル</th>
            <td><%= values[0].handle %></td>
          </tr>
          <tr>
            <th>外装色</th>
            <td><%= values[0].exterior_color %></td>
          </tr>
          <tr>
            <th>外装カラーナンバー</th>
            <td><%= values[0].exterior_color_number %></td>
          </tr>
          <tr>
            <th>内装色</th>
            <td><%= values[0].interior_color %></td>
          </tr>
          <tr>
            <th>仕入れ金額</th>
            <td><%= values[0].purchace_price %></td>
          </tr>
          <tr>
            <th>仕入れ先</th>
            <td><%= values[0].supplier %></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><%= values[0].comment %></td>
          </tr>
        </table>
        <div><% console.log(values[0].age)%></div>
      </div>
    </main>

    <footer></footer>
  </body>
</html>
