<!-- 使いたいテストのコメントを外す -->

<!------------------------------------->
<h1>exhibit test</h1>
<p>
    <%= //values[0].type_name %>
</p>
<p>
    <%= //values[1].type_name %>
</p>
<p>
    <%= //values[2].type_name %>
</p>

<p>
    <%= //values[3].type_name %>
</p>

<!------------------------------------->
<h1>ledger test</h1>
<p>
    <%= //values[0].project_id %>
</p>
<p>
    <%= //values[0].price %>
</p>
<p>
    <%= //values[1].project_id %>
</p>
<p>
    <%= //values[1].price %>
</p>

<!------------------------------------->
<h1>management detail test</h1>
<p>
    <%= //values[0].type_name %>
</p>
<p>
    <%= //values[0].maker %>
</p>
<p>
    <%= //values[0].comment %>
</p>
<p>
    <%= //values[0].picture_path %>
</p>

<!------------------------------------->
<h1>management test</h1>
<p>
    project:<%= //values[0][0].type_name %>
</p>
<p>
    exhibit:<%= //values[1][0].type_name %>
</p>
<p>
    without project and exhibit:<%= //values[2][0].type_name %>
</p>

<!------------------------------------->
<h1>user signup POST test</h1>
<h1>auction test</h1>
<h1>login成功時 test</h1>
<p>
    <%= values[0].car_id %>
</p>
<p>
    <%= values[0].type_name %>
</p>
<p>
    <%= values[0].picture_path %>
</p>
<p>
    <%= values[0].purchace_price %>
</p>

<!------------------------------------->
<h1>login失敗時 test</h1>
<p>
    <%= //values.name %>
</p>
<p>
    <%= //values.password %>
</p>
<p>
    <%= //values.message %>
</p>

<!------------------------------------->
<h1>user test</h1>
<h1>user PUT test</h1>
<p>
    <%= values[0][0].name %>
</p>
<p>
    <%= values[0][0].phone_number %>
</p>
<p>
    <%= values[1][0].type_name %>
</p>
<p>
    <%= values[1][1].type_name %>
</p>
