<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>オークション</title>
</head>

<body>
    <header>
        <p>ロゴ</p>
        <p>名前</p>
    </header>

    <%= for(var i=0;i<=values.length;i++) {%>
        <div>
            <img src="<%= values[0].picture_path %>" alt="車両画像">
            <p>車両名:<%= values[0].type_name %>
            </p>
            <p>金額:<%= values[0].purchace_price %>円</p>
        </div>
        <%= } %>
</body>

</html>
