<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>入札画面</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
        text-decoration: none;
    }

    .none {
        display: none;
        /* ボックスごと非表示 */
    }

    .hidden {
        text-indent: 100%;
        white-space: nowrap;
        /* 改行せずに表示 */
        overflow: hidden;
        /* ボックスの中身が不可視 */
    }

    body {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
        height: 80px;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: aqua;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        width: 55%;
        text-align: right;
    }

    .header_r {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_r>li {
        margin: 15px;
    }

    .header_r>li>button {
        color: #fff;
        background-color: #eb6100;
        border: 1px solid gray;
        width: 100px;
        height: 40px;
    }

    .login_name {
        font-size: 20px;
    }

    .login_box {
        width: 40%;
        height: 300px;
        background-color: rgb(225, 222, 222);
        border-radius: 8px;
    }

    /* ---- main ---- */
    main {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* background-color: red; */
    }

    a {
        color: black;
    }
</style>

<body>
    <header>
        <p class="logo">
            <a href="/management"> LOGO 社名 </a>
        </p>

        <ul class="header_r">
            <li>
                <button>
                    <a href="/car"> 車両登録 </a>
                </button>
            </li>
            <li class="login_name">ログイン指名</li>
        </ul>
    </header>
    <p><img src="" alt="車両画像"></p><br>

    <!-- 車両情報 -->
    <div>
        <!-- 車両名 -->
        <label for="type_name">
            車両名:<%=values.type_name %>
        </label>

        <!-- グレード -->
        <label for="grade">
            グレード:
        </label>

        <!-- メーカー -->
        <label for="maker">
            メーカー:
        </label>

        <!-- 年式 -->
        <label for="age">
            年式:
        </label>

        <!-- モデル年式 -->
        <label for="model_age">
            モデル年式:
        </label><br>

        <!-- 型式 -->
        <label for="model">
            型式:
        </label>

        <!-- 排気量 -->
        <label for="displacement">
            排気量:
        </label><br>

        <!-- 走行距離 -->
        <label for="milage">
            走行距離:
        </label>

        <!-- 形状 -->
        <label for="shape">
            形状:
        </label><br>

        <!-- トランスミッション -->
        <label for="transmission">
            トランスミッション:
        </label>

        <!-- 駆動方式 -->
        <label for="drive_system">
            駆動方式:

            </select>
        </label><br>

        <!-- 定員 -->
        <label for="capacity">
            定員:
        </label>

        <!-- ドア数 -->
        <label for="door_number">
            ドア数:
        </label><br>

        <!-- ハンドル向き -->
        <label for="handle">
            ハンドル向き:
        </label>

        <!-- 評価点 -->
        <label for="evaluation">
            評価点:
        </label><br>

        <!-- 外装色 -->
        <label for="exterior_color">
            外装色:
        </label>

        <!-- 内装色 -->
        <label for="interior_color">
            内装色:
        </label><br>

        <!-- 車検 -->
        <label for="vehicleInspection">
            車検:
        </label>

        <!-- 修復歴 -->
        <label for="repair">
            修復歴:
        </label><br>

        <!-- コメント -->
        <label for="comment">
            コメント:
        </label>
    </div>
    <p id="attention"></p>
    <p>現在時刻：<span id="nowDate"></span></p>
    <p>終了まで：<span id="endRemaining"></span></p>
    <p>開催まで：<span id="startRemaining"></span></p>
    <br />
    現在価格：<p id="now_price"><%=values.price %></p>

    <label for="bid">
        <input type="text" name="bid" id="price">円
        <button id="bidButton" onclick="bidRequest()">入札する</button>
    </label>

</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>
    const SocketIo = io();
    //user_idを取得
    const userId = document.cookie.split(";")
        .map((cookieData) => cookieData.trim()).find((cookieData) =>
        cookieData.startsWith("user_id=")
        ).split("=")[1]
    //test用ユーザーID
    const changeUserId = () => {
        userId = document.getElementById('uid').value
    }
    const exhibitId = "<%=values.exhibit_id %>"

    //自身が最高入札者か判定
    const attentionUserId = "<%=values.user_id %>"//最高入札者
    console.log('userId',userId)
    console.log('attentionUserId',attentionUserId)
    if(userId == attentionUserId){//自身が最高入札者ならそのメッセージを表示
            document.getElementById('attention').innerHTML='あなたが現在の最高額入札者です。'
        }else{
            document.getElementById('attention').innerHTML=''
        }

    //タイマーのセット
    const startDate = new Date("<%=values.start_date %>")
    const endDate = new Date(new Date("<%=values.start_date %>").setMinutes(startDate.getMinutes() + 5))

/*------------------- 関数 --------------------*/

    const countDownTimer = () => {
        const startRemaining = getRemaining(startDate)
        const endRemaining = getRemaining(endDate)
        const elStartRemaining = document.getElementById('startRemaining')
        const elEndRemaining = document.getElementById('endRemaining')
        const overStartMsg = '00:00:00'
        const overEndMsg = 'このオークションは終了しました'
        const bidButton = document.getElementById('bidButton')

        elStartRemaining.innerHTML = startRemaining ? startRemaining : overStartMsg
        elEndRemaining.innerHTML = endRemaining ? endRemaining : overEndMsg
        bidButton.disabled = !startRemaining && endRemaining ? false : true
        const date1 = new Date()
        const date2 = date1.getFullYear() + "年" +
				(date1.getMonth() + 1)  + "月" +
				date1.getDate() + "日" +
				date1.getHours() + ":" +
				date1.getMinutes() + ":" +
				date1.getSeconds() + ":"
        document.getElementById('nowDate').innerHTML = date2
        setTimeout(countDownTimer,250)
    }


    const bidRequest = () => {
        const price = document.getElementById("price").value;
        const nowPrice = "<%=values.price %>"
        console.log('ffff',nowPrice + 1000 )
        if(price < Number(nowPrice) + 1000){
            alert('入札可能額は現在価格＋1000円以上です。')
            return
        }
        SocketIo.emit('c2s_bid',{
            exhibitId:exhibitId,
            userId:userId,
            price:price
        })
    }
    //現在日時との差を返す。差が負の場合falseを返す
    const getRemaining = (targetDate) => {
        const nowDate = new Date()
        let difference = targetDate - nowDate
        if(difference >= 0){
            const hour = Math.floor(difference / (1000 * 60 * 60))
            difference -= (hour * (1000 * 60 * 60))
            const minutes = Math.floor(difference / (1000 * 60))
            difference -= (minutes * (1000 * 60))
            const second = Math.floor(difference / 1000)

            return `${hour}：${minutes}：${second}`
        }else{
            return false
        }
    }

    countDownTimer()
/*------------------- WebSocket --------------------*/
    //入札通知
    SocketIo.on('s2c_bid',(msg) => {
        document.getElementById('now_price').innerHTML= msg.price
        if(userId == msg.userId){
            document.getElementById('attention').innerHTML='あなたが現在の最高額入札者です。'
        }else{
            document.getElementById('attention').innerHTML=''
        }
    })
    //落札通知。（落札者のみに送信される）
    SocketIo.on(`success_${userId}`,(msg) => {
        window.location.href = 'http://localhost:8080/user_payment';
})

</script>
