<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>オークション</title>
</head>
<style>
    * {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        box-sizing: border-box;
        text-decoration: none;
    }

    .none {
        display: none;
        /* ボックスごと非表示 */
    }

    .hidden {
        text-indent: 100%;
        white-space: nowrap;
        /* 改行せずに表示 */
        overflow: hidden;
        /* ボックスの中身が不可視 */
    }

    body {
        width: 100%;
        height: 100%;
    }

    header {
        width: 100%;
        height: 80px;
        display: flex;
        font-size: 25px;
        align-items: center;
        background-color: rgb(202, 208, 177);
        border-bottom: 2px solid black;
        text-align: center;
        margin: 0 auto;
    }

    .logo {
        width: 55%;
        text-align: right;
    }

    .header_r {
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_r>li {
        margin: 15px;
    }

    .header_r>li>button {
        color: #fff;
        background-color: #eb6100;
        border: 1px solid gray;
        width: 100px;
        height: 40px;
    }

    .login_name {
        font-size: 20px;
    }

    .login_box {
        width: 40%;
        height: 300px;
        background-color: rgb(225, 222, 222);
        border-radius: 8px;
    }

    /* ---- main ---- */
    main {
        width: 80%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* background-color: red; */
    }

    a {
        color: black;
    }

    /* 項目エリア */
    .content_area {
        margin: 20px auto;
        /* background-color: #eb6100; */
    }

    .card_flex {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /* 車両のカードレイアウト */
    .card {
        width: 300px;
        height: 300px;
        margin: 20px;
        background-color: aquamarine;
        border-radius: 8px;
    }

    .card_img {
        width: 300px;
        height: 200px;
        background-color: black;
    }


    .button {
        display: inline-block;
        border-radius: 50%;
        /* 角丸       */
        font-size: 18pt;
        /* 文字サイズ */
        text-align: center;
        /* 文字位置   */
        cursor: pointer;
        /* カーソル   */
        padding: 9px 27px;
        /* 余白       */
        background: #eb6100;
        /* 背景色     */
        color: #ffffff;
        /* 文字色     */
        line-height: 1em;
        /* 1行の高さ  */
        transition: 0.3s;
        /* なめらか変化 */
        border: 2px solid #eb6100;
        /* 枠の指定 */
    }

    .button:hover {
        color: #eb6100;
        /* 背景色     */
        background: #ffffff;
        /* 文字色     */
    }

    .buttonArea {
        text-align: right;
        margin-top: 20px;
        margin-right: 40px;
    }
</style>

<body>
    <header>
        <p class="logo">
            <a href="/auction"> オークション </a>
        </p>


        <!-- <li>
          <button>
            <a href="/car"> 車両登録 </a>
          </button>
        </li> -->
        <li class="login_name"></li>
        </ul>
    </header>
    <div class="buttonArea">
        <button onclick="requestUser_get()" class="button">
            マイページへ
        </button>
    </div>
    <div class="content_area">
        <div class="card_flex">
            <% for (var i=0; i < values.length; i++) { %>
                <% console.log(values[i].picture_path) %>
                    <a href="bid/<%=values[i].car_id %>">
                        <div class="card">
                            <!-- <img src="<%= values[i].picture_path　%>" alt="車両画像" /> -->
                            <img class="card_img" src='<%= values[i].picture_path %>' alt='車両画像'>
                            <p>車体番号:<%= values[i].car_id %>
                            </p>
                            <p>車名:<%= values[i].type_name %>
                            </p>
                            <p>金額:<%= values[i].purchace_price %>円</p>
                        </div>
                    </a>
                    <% } %>
        </div>
    </div>
</body>

</html>
<script>
    //userのGET
    const requestUser_get = () => {
        const user_id = getCookieData("user_id");
        window.location = `user/${user_id}`;
    };

    const getCookieData = (keyName) => {
        if (keyName !== "user_id" && keyName !== "name" && keyName !== "password") {
            throw '関数getCookieDataの引数keyNameには文字列"user_id"か"name"か"password"を指定してください';
        }
        return document.cookie
            .split(";")
            .map((cookieData) => cookieData.trim())
            .find((cookieData) => cookieData.startsWith("user_id="))
            .split("=")[1];
    };
</script>
